In [3]:
import pandas as pd
import numpy as np

In [4]:
data_value = np.array([['a', 'b', 'c'], ['b', 'c', 'c'], ['d', 'c', 'a']])
dataset = pd.DataFrame(data_value, columns = ['col1', 'col2', 'col3'])
dataset

  col1 col2 col3
0    a    b    c
1    b    c    c
2    d    c    a

In [5]:
def add_value(value):
    return value + 'add'

In [6]:
dataset['new col'] = dataset['col1'].apply(add_value)

In [7]:
dataset

  col1 col2 col3 new col
0    a    b    c    aadd
1    b    c    c    badd
2    d    c    a    dadd

##### self-build function

In [8]:
### addition

def addition(value_a, value_b):
    return value_a + value_b

addition(1, 2)

3

In [9]:
### list sorting, bubble sort
def bubble_sort(list_a):
    for i in range(len(list_a) - 1):
        for j in range(len(list_a) - 1 - i):
            if list_a[j] > list_a[j + 1]:
                list_a[j], list_a[j + 1] = list_a[j + 1], list_a[j]
    return list_a

a = [2, 3, 1, 5, 12, 0, 9, 3, 5]

bubble_sort(a)

[0, 1, 2, 3, 3, 5, 5, 9, 12]

In [10]:
### quick sort
def quick_sort(list_a):
    if len(list_a) <= 1:
        return list_a
    else:
        ref = list_a[0]
        greater = [i for i in list_a[1:] if i >= ref]
        smaller = [i for i in list_a[1:] if i < ref]
        return quick_sort(smaller) + [ref] + quick_sort(greater)

quick_sort(a)

[0, 1, 2, 3, 3, 5, 5, 9, 12]